.navbar{
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgrey;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.navbar ul li{
    list-style-type: none;
    font-size: 1.2em;
    color: indigo;
    text-shadow: 2px 2px 2px 2px lightgrey;
    position: relative;
}

.navbar ul li:hover span{
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);

}
span{
    cursor:pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom:100%;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

span::after{
    content: "";
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}